# ignore all .o and .mod files
*.o
*.mod
src/*.o
src/*.mod

# ignore .pyc files
scripts/*.pyc

# ignore compiled file namd.
src/namd
src/namd-epc

# ignore test folder
test
perttest
copy

# others
patch/calc_ephmat_ZJJ_modified.f90
