# ignore all .o and .mod files
*.o
*.mod
src/*.o
src/*.mod

# ignore .pyc files
scripts/*old.py
scripts/*.pyc
scripts/__pycache__

# ignore compiled file namd.
src/namd
src/namd-epc

# ignore test folder
test
perttest
copy

# ignore example folder
example

# others
patch/calc_ephmat_ZJJ_modified.f90
